[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
arviz = "==0.9.0"
pymc3 = "==3.9.3"
jupyterlab = "*"

[requires]
python_version = "3.7"
